.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e1e1e1;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.product {
    margin: 20px auto;
    border: 1px solid #000000;
    width: 80%;
}

table.product td:first-child {
    font-weight: bold;
    color: #77c3ec
}

table.product td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

div.product {
    border: 1px solid #e1e1e1;
    width: 80%;
    background-color: #e1e1e1;
}