<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>About</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-8 text-left">
    <h1>About Forget-Me-Not</h1>
    <p>As the subscription payment model becomes more common, Forget-Me-Not exists to help people keep track of their many renewable accounts. It was created as a capstone project during the LiftOff portion of LaunchCode’s LC101 development class. <a href="https://www.launchcode.org/">Learn more about LaunchCode.</a></p>
    <h2>Meet the creators:</h2>
    <a href="https://www.linkedin.com/in/sangeetha-abhilash-48b7921a7/">Sangeetha Abhilash</a><br><br>
    <a href="https://www.linkedin.com/in/gowerdan/">Dan Gower</a><br><br>
    <a href="https://www.linkedin.com/in/cedric-hicks-8b04a695/">Cedric Hicks</a><br><br>
    <a href="https://www.linkedin.com/in/sri15/">Sridevi Kalagara</a><br><br>
</div>
</body>
</html>