<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navbar"></nav>

<form method="post" style="max-width:700px;">
    <div class="form-group">
        <label th:for="productName">Name</label>
            <input class="form-control" th:field="${product.productName}"/>
       <span th:errors="${product.productName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="productManufacturer">Manufacturer</label>
        <input class="form-control" th:field="${product.productManufacturer}"/>
        <span th:errors="${product.productManufacturer}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="dateOfPurchase">Date Of Purchase</label>
            <input class="form-control" th:field="${product.dateOfPurchase}"/>
        <span th:errors="${product.dateOfPurchase}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="dateOfExpiry">Date Of Expiry</label>
        <input class="form-control" th:field="${product.dateOfExpiry}"/>
        <span th:errors="${product.dateOfExpiry}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="${product.description}"/>
        <span th:errors="${product.description}" class="error"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>