<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{authlayout}">
<head>
    <title>Add Products</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-8 text-left">

    <h3>Add Products</h3>
    <form method="post" style="max-width:700px;" th:object="${product}">
        <div class="form-group">
            <label th:for="name">Name of the Product/Service</label>
            <input class="form-control" th:field="*{name}"/>
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="manufacturer">Manufacturer/Service Provider</label>
            <input class="form-control" th:field="*{manufacturer}"/>
            <span th:errors="*{manufacturer}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="dateOfPurchase">Date Of Purchase</label>
            <input class="form-control" th:field="*{dateOfPurchase}"/>
            <span th:errors="*{dateOfPurchase}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="dateOfExpiry">Date Of Expiry</label>
            <input class="form-control" th:field="*{dateOfExpiry}"/>
            <span th:errors="*{dateOfExpiry}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="description">Model No./Subscription Type</label>
            <input class="form-control" th:field="*{description}"/>
            <span th:errors="*{description}" class="error"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Save"/>
    </form>

</div>
</body>
</html>





