<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Contact Us</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-8 text-left">
    <h1>Contact Us</h1>
    <p>If you wish to contact us, you can do so by calling XXX-XXX-XXXX or by emailing XXX@forgetmenot.com. For questions regarding the app, you may be able to find immediate answers on the <a href="/faq">FAQ page</a>.</p>
    <p>You can also connect with the creators on LinkedIn:</p>
   <div th:replace="fragments :: creators_links"></div>
</div>
</body>
</html>