<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Contact Us</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-8 text-left">
    <h1>Core Features </h1>
    <p>Forget-Me-Not is designed to help people keep track of their many subscriptions in a world where recurring payments are becoming the standard in many industries. Abandoned accounts and subscriptions waste money and expose people to unnecessary security risks. This application helps people keep up with all of their subscriptions by leveraging the following features:</p>
    <ul>
        <li>Free and Easy to Use – The user can sign up in seconds without spending a dime.</li> <br>
        <li>Simple Uploads – After signing up, the user can take advantage of the intuitive product upload form in Forget-Me-Not to organize all of their subscriptions. These subscriptions are stored in the user’s account so the user can view or edit them at any time.</li> <br>
        <li>Timely Reminders – When a subscriptions is set to expire or renew, Forget-Me-Not automatically reminds the user. Never let a service lapse or pay for a product you don’t need again!</li> <br>
        <li>Safety and Security – All of the accounts and data in Forget-Me-Not are protected so no personal information is vulnerable. Furthermore, the application can achieve its goals without storing any payment information that could potentially be compromised.</li> <br>
    </ul>
</div>
</body>
</html>