<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Forgot Password</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-8 text-left">
  <h3>Forgot Password</h3><br>
  <div th:if="${error != null}">
    <p class="text-danger">[[${error}]]</p>
  </div>
  <div th:if="${message != null}">
    <p class="text-warning">[[${message}]]</p>
  </div>
  <form method="post" action="/forgotPassword">
    <div class="form-group">
      <div>
        <p>We will be sending a reset password link to your email.</p>
      </div>
      <label>Email
        <input class="form-control" th:field="${forgotPasswordFormDTO.email}"/>
      </label>
      <p class="error" th:errors="${forgotPasswordFormDTO.email}"></p>
    </div><br>
    <input type="submit" class="btn btn-primary" value="Reset Password" />
  </form><br>
</div>

</body>
</html>