<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
    <title>Forget Me Not</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
        <img th:src="@{/images/forgetmelogo.png}" height="60" width="60"/>
        &emsp;

        <a class="navbar-brand" href="#">Forget Me Not</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/index}">Home</a>
                </li>
                <li class="nav-item" th:if="${session.user}">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/faq}">FAQs</a>
                </li>
                <li class="nav-item" th:if="${session.user == null}">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item" th:if="${session.user == null}">
                    <a class="nav-link" th:href="@{/login}">LogIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Contact</a>
                </li>
                <li class="nav-item" th:if="${session.user}">
                    <a class="nav-link" th:href="@{/logout}">Sign Out</a>
                </li>
            </ul>
        </div>
        <div class="float-right text-white" th:if="${session.user}" th:text="${session.user.firstName}"></div>
    </div>
</nav>

<div th:fragment="leftpane" class="col-sm-2 sidenav leftpane-dark bg-light">
    <h2>Features</h2><br>
    <li> Simple, cheap and easy to use. </li><br>
    <li> Hassle free timely reminders. </li><br>
    <li> Safe and secure accounts/transactions. </li><br>
    <li> Easy uploads using scan/photograph. </li>
</div>

<div th:fragment="maincontent" class="col text-left maincontent-dark bg-light">
    <br>
    <h2>Welcome to Forget Me Not!</h2>
    <h3>A reminder app to receive alerts for warranties, subscriptions and a lot more!</h3>
    <p>The purpose of this application is to give the user a single placeholder that holds and tracks all of their warranties, accounts with recurring payments, and similar subscriptions. The user will be able to upload documents and keep them organized so that nothing falls through the cracks. The application will notify the user before the end date or renewal date of their various subscriptions.</p>
    <br>
</div>

<div th:fragment="rightpane" class="col-sm-2 sidenav rightpane-dark bg-light">
    New User?
    <br>
    <input type="button" th:onclick="|window.location.href='/register'|" class="btn btn-primary" value="Register"/>
    <br>
    <br>
    Existing User?
    <br>
    <input type="button" th:onclick="|window.location.href='/login'|" class="btn btn-primary" value="Login"/>
    <br>
    <br>
    Forgot password?
</div>

<div th:fragment="authrightpane" class="col-sm-2 authrightpane-dark bg-light">
    <div id="myCarousel" class="carousel" data-bs-ride="carousel">
        <br><br><br><br>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                First slide
            </div>
            <div class="carousel-item">
                Second slide
            </div>
            <div class="carousel-item">
                Third slide
            </div>
        </div>
    </div>
</div>



<div th:fragment="creators_links">
    <a href="https://www.linkedin.com/in/sangeetha-abhilash-48b7921a7/">Sangeetha Abhilash</a><br><br>
    <a href="https://www.linkedin.com/in/gowerdan/">Dan Gower</a><br><br>
    <a href="https://www.linkedin.com/in/cedric-hicks-8b04a695/">Cedric Hicks</a><br><br>
    <a href="https://www.linkedin.com/in/sri15/">Sridevi Kalagara</a><br><br>
</div>

<footer th:fragment="footer" class="container-fluid text-center bg-info">
    <div class="row">
        <div class="col-md text-white">
            &copy; 2021 ForgetMeNot.com
        </div>
    </div>
</footer>


</body>
</html>