<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{authlayout}">
<head>
    <title>Products</title>
</head>
<body>

<div layout:fragment="content" class="col-sm text-left">
    <div th:if="${info}" th:text="${info}"></div>

    <h3> Product List</h3>
    <table class="table table-striped">
    <thead>
    <tr class="table-primary">
        <th scope="col">Name of the Product/Service</th>
        <th scope="col">Manufacturer/Service Provider</th>
        <th scope="col">Date of Purchase/Subscription</th>
        <th scope="col">Date of Expiry</th>
        <th scope="col">Model No./Subscription Type</th>
        <th scope="col">Edit Product</th>
        <th scope="col">Delete Product</th>
    </tr>
    <tbody>
    <tr class="table-primary" th:each="product : ${products}">
        <td class="table-primary" th:text="${product.name}" ></td>
        <td class="table-primary" th:text="${product.manufacturer}" ></td>
        <td class="table-primary" th:text="${product.dateOfPurchase}" ></td>
        <td class="table-primary" th:text="${product.dateOfExpiry}" ></td>
        <td class="table-primary" th:text="${product.description}"></td>
        <td><a th:href="@{'/products/edit/' + ${product.id}}">Edit</a></td>
        <td><input type="submit" th:onclick="|window.location.href='/products/delete'|" class="btn btn-danger" value="Delete"/></td>
    </tr>
    </tbody>
    </thead>
    </table>
    <input type="button" th:onclick="|window.location.href='/products/add'|" class="btn btn-primary" value="Add Product"/>
</div>

</body>
</html>