<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navbar-register"></nav>

Product List Page
<table th:replace="fragments :: productList"></table>
<input type="submit" class="btn btn-primary" value="Add Product"/>
<input type="submit" class="btn btn-primary" value="Renew Product"/>
<input type="submit" class="btn btn-red" value="Delete Product"/>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>