<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Register</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-8 text-left">
<h3>Register</h3>
<form method="post" action="/register">
    <div class="form-group">
        <label>First Name
            <input class="form-control" th:field="${registerFormDTO.firstName}"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.firstName}"></p>
    </div>
    <div class="form-group">
        <label>Last Name
            <input class="form-control" th:field="${registerFormDTO.lastName}"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.lastName}"></p>
    </div>
    <div class="form-group">
        <label>Email
            <input class="form-control" th:field="${registerFormDTO.email}"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.email}"></p>
    </div>
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.userName}"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.userName}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password"/>
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register"/>
</form>
</div>
</body>
</html>