<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Reset Password</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-8 text-left">
  <h3>Forgot Password</h3><br>
  <form method="post" action="/resetPassword">
    <div>
      <p>
        <input type="password" name="password" id="password" class="form-control"
               placeholder="Enter your new password" required autofocus />
      </p>
      <p>
        <input type="password" class="form-control" placeholder="Confirm your new password"
               required oninput="checkPasswordMatch(this);" />
      </p>
      <p class="text-center">
        <input type="submit" value="Change Password" class="btn btn-primary" />
      </p>
    </div>
  </form><br>
</div>

</body>
</html>