<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:margin="http://www.w3.org/1999/xhtml"
      xmlns:max-width="http://www.w3.org/1999/xhtml">
<head>
  <title>Reset Password</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-8 text-left">
  <h3>Reset Password</h3><br>
  <div th:if="${error != null}">
    <p class="text-danger">[[${error}]]</p>
  </div>
  <div th:if="${message != null}">
    <p class="text-warning">[[${message}]]</p>
  </div>
  <form method="post" action="/resetPassword">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
      <p>
        <input type="password" name="password" id="password" class="form-control"
               placeholder="Enter your new password" required autofocus />
      </p>
      <p>
        <input type="password" class="form-control" placeholder="Confirm your new password"
               required oninput="checkPasswordMatch(this);" />
      </p>
      <p class="text-center">
        <input type="submit" value="Change Password" class="btn btn-primary" />
      </p>
    </div>
  </form><br>
</div>

</body>
</html>